<include file="Blog/Home/View/Common/header.html" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/{$module_name}/Js/Editor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/{$module_name}/Js/Editor/ueditor.all.min.js"> </script>
<script type="text/javascript">
	$( function(){
		$('#cat_id').click( function(){
			$('input[name=title]').val('');
			var title = $(this).find('option:selected').text().trim() ;
			$('input[name=title]').val( title );
		})
	})
</script>
</head>
<body>
	<form action="{:U(MODULE_NAME.'/Blog/add')}" method="post" >
	<select name="cat_id" id="cat_id">
	{:W('cat/select',array($rest))}
	</select>
		<table class="table"> 
			<tr>
				<td>TITLE</td>
				<td><input  name="title"  /></td>
			</tr>
			<tr>
				<td>CLICK</td>
				<td><input  name="click"  /></td>
			</tr>
			<tr>
				<td>SORT</td>
				<td><input  name="sort"  /></td>
			</tr>
			<tr>
				<td>ATTR</td>
				<td>
					<foreach name="attr"  item="v" >
						<input type="checkbox" name="attr_id[]" value="{$v.id}" />
						<font color="{$v.color}">{$v.title}</font>&nbsp;&nbsp;
					</foreach>
				</td>
			</tr>
			<tr>
				<td colspan="2">CONTENT</td>
			</tr>
			<tr>
				<td colspan="2">
					<div>
						<!-- 加载编辑器的容器 -->
						<script id="container" name="content" type="text/plain">这里写你的初始化内容</script>
					</div>
				</td>
			</tr>
		</table>
		<div class="fixed-bottom" >
			<div class="fixed-bottom fixed-but">
				<input   type="submit" value="SUBMIT" />
			</div>
		</div>
	</form>
</body>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('container');
</script>
</html>