<include file="Blog/Home/View/Common/header.html" />
</head>
<body>
	<form action="{:U(MODULE_NAME.'/Nav/add')}" method="post" >
		<table class="table"> 
			<tr>
				<td>EN_NAME</td>
				<td><input  name="en_name"  /></td>
			</tr>
			<tr>
				<td>ZN_NAME</td>
				<td><input  name="zn_name"  /></td>
			</tr>
			<tr>
				<td>COLOR</td>
				<td><input  name="color"  /></td>
			</tr>
			<tr>
				<td>URL</td>
				<td><input  name="url"  /><span>eg: /Controller/method</span></td>
			</tr>
			<tr>
				<td>SORT</td>
				<td><input  name="sort"  /></td>
			</tr>
		</table>
		<input type='hidden'  value="{$pid}" name="pid"  />
		<input type='hidden'  value="{$level}" name="level"  />
		<input  type="submit" value="SUBMIT" />
	</form>
</body>
</html>